{% extends "plantilla.html" %}
{% block title %}Acerca{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto p-5">
                <h5 class="text-center">Admin create new user</h5>
                <form action="/adm/users/create" method="post">
                    <label for="nombre_usuario" class="form-label">Nombre</label>
                    <input type="text" name="nombre_usuario" id="nombre_usuario"class="form-control mb-2" {% if nombre %} value="{{nombre}}" {% endif %} required >
                    <label for="apellido_usuario" class="form-label">apellidos </label>
                    <input type="text" name="apellido_usuario" id="apellido_usuario" class="form-control mb-2" {% if apellido %} value="{{apellido}}" {% endif %} required>
                    <label for="clave_usuario" class="form-label">clave</label>
                    <input type="password" name="clave_usuario" id="clave_usuario" class="form-control mb-2" {% if clave %} value="{{clave}}" {% endif %} required>
                    <label for="clave_usuario_repeat" class="form-label">Repite la clave</label>
                    <input type="password" name="clave_usuario_repeat" id="clave_usuario_repeat" class="form-control mb-2" {% if clave %} value="{{clave}}" {% endif %} required>
                    <input type="hidden" name="id_usuario" id="id_usuario" >
                    <button type="submit" class="form-control mb-2 btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
