{% extends "plantilla.html" %}
{% block title %}Acerca{% endblock %}
{% block content %}
{% set usuario_a_borrar=-1 %}
<div class="container text-center">
    <a href="/adm/users/form-create" class="btn btn-warning">Crear nuevo usuario</a>
    <div class="row">
        <div class="col md-6 mx-auto mt-3">
            <table class="table table-dark table-striped-columns">
                <thead>
                    <tr>        
                        <th>id usuario</th>
                        <th>nombre</th>
                        <th>apellidos</th>
                        <th>clave</th>
                        <th>rol</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                    <tbody>
                        {%for usuario in usuarios %}
                        <tr>
                            <td>{{usuario[0]}}</td>
                            <td>{{usuario[1]}}</td>
                            <td>{{usuario[3]}}</td>
                            <td>{{usuario[2]}}</td>
                            <td>{{usuario[4]}}</td>
                            <td>
                                <form action="/adm/users/form-update" method="post">
                                <input type="hidden" name="id_usuario" value="{{usuario[0]}}">
                                <button type="submit" class="btn btn-primary">editar</button> 
                                </form>
                            </td>
                            <td>
                                {% set usuario_a_borrar=usuario[0] %}
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{usuario_a_borrar}}">
                                    Eliminar
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{usuario_a_borrar}}" tabindex="-1" aria-labelledby="exampleModalLabel{{usuario_a_borrar}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel{{usuario_a_borrar}}">Borrar usuario</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" value="¿Está seguro que desea borrarlo? " class="form-control" disabled>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <form action="/adm/users/delete" method="post">
                                                <input type="hidden" name="id_usuario" value="{{usuario_a_borrar}}">
                                                <button type="submit" class="btn btn-danger">Si</button> 
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div><!-- Final del col-->
    </div><!-- Final del row-->


</div>  


  

{% endblock %}