{% extends "plantilla.html" %}
{% block title %}Acerca{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto p-5">
                <h5 class="text-center">Admin create new sport</h5>
                <form action="/adm/sports/create" method="post">
                    <label for="nombre_deporte" class="form-label">Nombre deporte</label>
                    <input type="text" name="nombre_deporte" id="nombre_deporte"class="form-control mb-2" {% if nombre_deporte %} value="{{nombre_deporte}}" {% endif %} required >
                    <label for="fecha_inicio" class="form-label">Fecha inicio </label>
                    <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control mb-2" required>
                    <label for="fecha_fin" class="form-label">Fecha fin</label>
                    <input type="date" name="fecha_fin" id="fecha_fin" class="form-control mb-2" required>
                    <label for="hora_inicio" class="form-label">Hora inicio</label>
                    <input type="time" name="hora_inicio" id="hora_inicio" class="form-control mb-2" required>
                    <label for="hora_fin" class="form-label">Hora inicio</label>
                    <input type="time" name="hora_fin" id="hora_fin" class="form-control mb-2" required>
                    <input type="hidden" name="id_deporte" id="id_deporte" >
                    <button type="submit" class="form-control mb-2 btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
