{% extends "plantilla.html" %}
{% block title %}Acerca{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto p-5">
                <h5 class="text-center">Admin create new forbidden day</h5>
                <h6>Click para mostrar los deportes</h6>
                <form action="/adm/forbidden_days/create" method="post">
                    <label for="id_deporte" class="form-label">Deporte</label>
                    <select name="id_deporte" id="id_deporte" class="form-control mb-2" required>
                        <option value="0">Ninguno</option>
                        {% for deporte in deportes %}
                            <option value="{{deporte[0]}}">{{deporte[1]}}</option>
                        {% endfor %}
                    </select>
                    <label for="fecha" class="form-label">Date</label>
                    <input type="date" name="fecha" id="fecha" class="form-control mb-2" required>

                    <button type="submit" class="form-control mb-2 btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
